*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-navigation{
    
}

.container{
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navigation-title h1 a{
    text-decoration: none;
    color: #20292f;
}

.navigation-items{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 10px;
}

.navigation-item a{
    text-decoration: none;
    color: #20292f;
}

.item-bold{
    font-weight: 600;
}